@font-face {
                font-family: 'Quicksand Book';
                src: url('../fonts/Quicksand Book/Quicksand-Bold.otf') format('otf'), url('../fonts/Quicksand Book/Quicksand-Regular.otf') format('otf'), url('../fonts/Quicksand Book/Quicksand-Regular.otf') format('truetype');
                font-weight: 400;
                font-style: normal;
            }