html {
    font-family: "Quicksand Book";
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.header .background {
    height: 800px;
    width: 100%;
    background-image: url(../imges/Livello_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header .header-area {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header .button-shoes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    width: 100px;
}

.header .background .header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 400px;
    font-size: 16px;
    font-weight: 1000;
}

.header .header-list .list-members {
    color: #ffff;
    text-decoration: none;
}

.header .background .button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-list .txt {
    font-weight: 1000;
    color: #ffffff;
}

.header-list .txt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header .background .title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 560px;
    width: 100%;
}

.header .title-area .title {
    margin-bottom: -15px;
    font-size: 55px;
    color: #ffffff;
    text-align: center;
}

.header .title-area .pre-title {
    height: 87px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.header .background .button-arrow {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header .choose-area {
    width: 100%;
    height: 200px;
    background-color: #f5f6f7;
}

.header .choose-area .choose-list {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.header .choose-list .choose-list-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
}

.header .choose-list-area .men {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100px;
}

.header .choose-list-area .women {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 145px;
}

.header .choose-list-area .children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 175px;
}

.header .choose-list .choose-button-first {
    width: 37px;
    height: 36px;
    border-radius: 3px;
    border: 2px solid #aa9b77;
    background-color: #ffffff;
}

.header .choose-button-first .check {
    width: 19px;
    height: 15px;
}

.header .choose-list .clear-button {
    width: 37px;
    height: 36px;
    border-radius: 3px;
    border: 2px solid #cccccc;
    background-color: #ffffff;
}

.header .choose-list .products-button-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 195px;
    width: 250px;
}

.header .choose-list .products-button {
    width: 204px;
    height: 52px;
    border-radius: 3px;
    background-color: #aa9b77;
}

.header .products-button .products-button-txt {
    margin-left: 20px;
    width: 137px;
    height: 11px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.main .main-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main .main-list .main-list-txt {
    margin-left: 40px;
}

.main .main-list .line {
    width: 1095px;
    border-top: 2px solid #d9d9d9;
    border-bottom: dotted 0px #d9d9d9;
    margin-right: 85px;
    margin-left: 45px;
}
.main .slider-shop{
    margin-right: 45px;
}

.main .slider-shop .numbers {
    padding-right: 40px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    color: #aa9b77;
    font-size: 20px;
}

.main .slider-shop .buttons-area {
    padding-right: 36px;
    display: flex;
    justify-content: flex-end;
}

.main .slider-shop .button-arrow-main {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main .main-section {
    max-width: 1110px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .main-section .select-main-block {
    margin-bottom: 20px;
    display: block;
    width: 320px;
    height: 335px;
    border: 4px solid #aa9b77;
    background-color: #f5f6f7;
}

.main .select-main-block .block-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.main .block-top .size {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.main .size .size-txt {
    font-size: 17px;
}

.main .size .little-arrow {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main .select-main-block .colors {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.main .colors .blue {
    width: 22px;
    height: 21px;
    border: none;
    border-radius: 10px;
    background-color: #165eb9;
}

.main .colors .yellow {
    margin-right: 8px;
    margin-left: 8px;
    width: 22px;
    height: 21px;
    border: none;
    border-radius: 10px;
    background-color: #ffe637;
}

.main .colors .black {
    width: 22px;
    height: 21px;
    border: none;
    border-radius: 10px;
    background-color: #535253;
}

.main .block-middle .main-imag-t-shirt {
    height: 180px;
    margin: 24px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .block-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .block-bottom .block-bottom-txt {
    margin-left: 15px;
    width: 68px;
    height: 13px;
    color: #aa9b77;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.main .block-bottom .block-bottom-price {
    margin-right: 15px;
    width: 60px;
    height: 20px;
    color: #424242;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.main .main-block-pants {
    margin-bottom: 20px;
    display: block;
    width: 320px;
    height: 342px;
    background-color: #f5f6f7;
}

.main .block-middle .main-imag-pants {
    height: 187px;
    margin: 24px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .block-bottom .block-bottom-txt-pants {
    margin-left: 20px;
    color: #aa9b77;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
}

.main .main-block-backpack {
    margin-bottom: 10px;
    display: block;
    width: 320px;
    height: 342px;
    background-color: #f5f6f7;
}

.main .block-middle .main-imag-backpack {
    height: 187px;
    margin: 24px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .women-main-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main .women-main-list .women-line {
    width: 1095px;
    border-top: 2px solid #d9d9d9;
    border-bottom: dotted 0px #d9d9d9;
    margin-left: 45px;
    margin-right: 15px;
}
.main .women-main-list .women-list-txt {
    margin-right: 80px;
}
.main .slider-shop-women{
    margin-left: 45px;
}

.main .slider-shop-women .numbers {
    margin-left: 5px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    color: #aa9b77;
    font-size: 20px;
}

.main .slider-shop-women .buttons-area {
    display: flex;
    justify-content: flex-start;
}

.main .slider-shop-women .button-arrow-main {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.main .main-section .giacket-main-block{
    margin-bottom: 20px;
    display: block;
    width: 320px;
    height: 335px;
    background-color: #f5f6f7;
}
.main .block-middle .main-imag-shoes {
    height: 135px;
    margin: 45px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .block-bottom-shoes{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main .block-bottom-shoes .block-bottom-txt-shoes{
    margin-left: 20px;
    color: #aa9b77;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
}
.main .block-bottom-shoes .block-bottom-price-shoes{
    margin-right: 15px;
    width: 60px;
    height: 20px;
    color: #424242;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
.main .main-section .t-shirt-main-block{
    margin-bottom: 20px;
    display: block;
    width: 320px;
    height: 341px;
    background-color: #f5f6f7;
}
.main .main-section .t-shirt-main-block{
    margin-bottom: 20px;
    display: block;
    width: 320px;
    height: 335px;
    background-color: #f5f6f7;
}
.main .t-shirt-main-block .block-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
.main .t-shirt-main-block .colors {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.main .colors .pink {
    width: 22px;
    height: 21px;
    border: none;
    border-radius: 10px;
    background-color: #d3a7ac;
}
.main .colors .white {
    margin-left: 10px;
    width: 22px;
    height: 21px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;;
}

